.btn-outline-secondary {
  color: #8708f5;
  border-color: #8708f5;
}
.btn-outline-secondary:hover {
  background-color: #8708f5;
}

.btn-logout {
  margin-left: 60px;
}
.name {
  margin-left: 10px;
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}
.img-picture {
  border-radius: 50%;
}
