
.app {
  background-size: cover;
  background-image: url('../../../../public/assets/bg.jpg');
  height: 100vh;
  
}

.block-game {
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.card {
  width: 18%;
  height: 117px;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 7px rgb(5, 40, 138);
  border: 0;
}

.cards {
  margin-top: 10px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.img-fluid {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(7, 4, 4, 0.5);
}
.menu {
  display: flex;
  margin: 0 auto;
  max-width: 955px;
  justify-content: space-between;
  align-items: center;
  font-size: 3vh;
}
.menu:first-child {
  color: green;
}

.incorrect {
  color: red;
}

.correct-card {
  cursor: no-drop;
  opacity: 0.6;
}

.statistic-screen{
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  width: 30%;
  text-align: center;
}
.statistic-blocks{
  display: flex;
  flex-direction: column;
}
.mistake-container{
  margin-top: 20px;
}
.mistake-answer>span{
  color: red;
}
.mistake-word{
  color: black;
}
.correct-container{
  margin: 20px auto;
}
.correct-answer>span {
  color: green;
}
.correct-word{
  color: black
}
.statistic-buttons{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}