.games-nav {
    display: flex;
  }
  
  .game-card {
    height: 200px;
    width: 300px;
    margin: 20px 10px;
  }
  
  .game-block {
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    vertical-align: center;
    background-position-x: center;
    background-position-y: 100%;
    background-size: 150% auto;
  }
  