* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.words-container {
  min-height: 100vh;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

  background-color: #f3f3f3;
}

.book-nav {
  width: 80%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-around;
}

.book-link {
  font-size: 1.4rem;
  padding: 5px 10px;
  background-color: #fff;
  border: 0;

  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 5px 15px 2px rgba(181, 181, 181, 0.78);
}

.link1 {
  border-left: 8px solid #1d3557;
}

.link1:hover,
.link1-active {
  color: #fff;
  background-color: #1d3557;
  outline: none;
}

.link2 {
  border-left: 8px solid #457b9d;
}

.link2:hover,
.link2-active {
  color: #fff;
  background-color: #457b9d;
  outline: none;
}

.link3 {
  border-left: 8px solid #a8dadc;
}

.link3:hover,
.link3-active {
  color: #fff;
  background-color: #a8dadc;
  outline: none;
}

.link4 {
  border-left: 8px solid #ffb703;
}

.link4:hover,
.link4-active {
  color: #fff;
  background-color: #ffb703;
  outline: none;
}

.link5 {
  border-left: 8px solid #e07a5f;
}

.link5:hover,
.link5-active {
  color: #fff;
  background-color: #e07a5f;
  outline: none;
}

.link6 {
  border-left: 8px solid #e63946;
}

.link6:hover,
.link6-active {
  color: #fff;
  background-color: #e63946;
  outline: none;
}

.book {
  width: 80%;
  margin-bottom: 20px;
  border: 0;
  background-color: #fff;
  border-radius: 0px 18px 18px 0px;
  box-shadow: 0px 5px 15px 2px rgba(181, 181, 181, 0.78);
}

.book-title {
  margin-top: 5px;
  text-align: center;
}

.book-group0 {
  border-left: 15px solid #1d3557;
}
.book-group1 {
  border-left: 15px solid #457b9d;
}
.book-group2 {
  border-left: 15px solid #a8dadc;
}
.book-group3 {
  border-left: 15px solid #ffb703;
}
.book-group4 {
  border-left: 15px solid #e07a5f;
}
.book-group5 {
  border-left: 15px solid #e63946;
}

.words-list {
  min-height: 600px;
  list-style: none;
}

.words-list li:first-child {
  border-radius: 0px 18px 0px 0px;
}

.words-list div:last-child {
  border-radius: 0px 0px 18px 0px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color: #444;
  cursor: pointer;
  padding: 5px 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;

  overflow: hidden;
  background-color: #f1f1f1;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-column-rule: 1px solid transparent;
  -moz-column-rule: 1px solid transparent;
  column-rule: 1px solid transparent;
}

.pages {
  width: 15%;
  margin: 15px auto;
  font-size: 1.5rem;
}

.word-image {
  background: url('../../public/assets/1487.gif') no-repeat scroll center center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: #8708f5;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  color: #8708f5;
  margin-bottom: 40px;
}
h3 {
  color: #8708f5;
}

#root {
  user-select: none;
}

.photo-container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
}
.photo {
  width: 100%;
}
.description-container {
  margin-top: 50px;
  text-align: center;
}
.description-container > p {
  font-size: 30px;
  color: #737373;
}
.advantages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-card {
  width: 225px;
  border: solid #cacaca 2px;
  border-radius: 10px;
  margin: 10px;
  transition: all 1s;
}

.advantages-card > p {
  font-size: 1.1rem;
  color: #494747;
}
.advantages-card:hover {
  border-left: solid 2px #c822ff;
  border-bottom: solid 2px #c822ff;
  border-right: solid 2px #1a6dff;
  border-top: solid 2px #1a6dff;
  transform: scale(1.1);
}
.video-container {
  margin-top: 100px;
  position: relative;
}
.video-container > img {
  width: 91%;
}
.video-container > iframe {
  position: absolute;
  top: 110px;
  left: 20%;
  width: 60%;
  height: 69%;
}

.team-container {
  margin-top: 100px;
}
.team-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.team-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.team-card > img {
  width: 35%;
  border-radius: 50%;
}
.team-card__description {
  width: 75%;
  text-align: center;
}
.team-card__description > h3 > span {
  color: #494747;
  font-style: italic;
}
.team-card_location {
  color: #494747;
  font-style: italic;
}
.team-card_location > a > img {
  transition: all 1s;
}
.team-card_location > a > img:hover {
  transform: scale(1.5);
}
.team-card_github {
  color: #8708f5;
  font-weight: bold;
}
.team-card_github > a > img {
  transition: all 1s;
}
.team-card_github > a > img:hover {
  transform: rotate(360deg);
}
.team-card_development > span {
  color: #1a6dff;
}
